@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@layer theme, base, components, utilities;
@layer base {
  a {
    @apply text-inherit no-underline;
  }
  img {
    @apply inline-block;
  }
}
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

#root {
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  --inter-font: "Inter", sans-serif;
  --garamond-font: "EB+Garamond", serif;
  --roboto-font: "Roboto", sans-serif;
  --arial-font: "Arial", sans-serif;
  --default-font: var(--arial-font);
}

.default-200 {
  font-family: var(--default-font);
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.default-300 {
  font-family: var(--default-font);
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.default-400 {
  font-family: var(--default-font);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.default-500 {
  font-family: var(--default-font);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.default-700 {
  font-family: var(--default-font);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

main {
  .sidebar {
    .list-section {
      .list {
        margin-bottom: 2.0rem;
        ul {
          li {
            padding: 2px;
            font-size: 0.8rem;
            font-weight: 400;
            letter-spacing: 0.12em;
          }
        }
      }
    }
  }
  .content {
    .company, .date {
      padding: 0.1em 0;
    }
    .job {
      margin-bottom: 0.6rem;
    }
    ul {
      padding: 1.0em;
      font-size: 0.8rem;
      font-weight: 400;
      letter-spacing: 0.12em;
      li {
        padding: 2px;
        margin-left: 18px;
      }
      li::before {
        content: "• "; /* Unicode bullet */
        font-size: 1.1em;
        margin-left: -18px;
        margin-right: 3px;
      }
    }
  }
}


.color-box {
  background-color: #c7e4f7;
  min-height: 32px;
}

.headline {
  padding-bottom: 8px;
  font-size: 1.0rem;
  font-weight: 600;
  letter-spacing: 4px;
  margin-bottom: 0.8rem;
  border-bottom: 2px solid #363636;
}

.subheadline {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.12em;
  margin-bottom: 0.2rem;
}

.section {
  margin: 0 auto;
  padding: 1.5rem 0;
  font-weight: 300;
  letter-spacing: 0.10em;
}